.toprated {
  .cards_container_mobile {
    margin-top: -10rem !important;
    display: none;
  }
  .cards_container {
    margin-top: -10rem !important;
    flex-wrap: wrap;
    margin-top: 6rem;
    @include clients_showcase_card;
  }

  @include clients {
    .cards_container_mobile {
      display: flex;
      margin: 8rem 0 -5rem 0;

      .card {
        height: 24rem;
        width: 23rem;
        position: relative;
        //
        .title {
          z-index: 800;
          position: absolute;
          top: 2rem;
          left: 1rem;

          &_group {
            margin-bottom: 0.8rem;

            p,
            h1,
            h2 {
              color: #ecfafd;
            }
            h2 {
              margin-top: 0.5rem;
              line-height: 2.6rem;
            }
            p {
              font-size: 11px;
              line-height: 1.6rem;
            }
            img {
              height: 4rem;
              width: auto;
              position: unset;
            }
          }
          &_group:nth-of-type(1) {
            position: relative;
            .line {
              background: #a8e1f0;
              height: 1px;
              width: 16.5rem;
              position: absolute;
              bottom: -0.8rem;
              left: -0.2rem;
            }
          }
        }
        img {
          z-index: 799;
          position: absolute;
          bottom: 0;
          left: -4rem;
          height: 30rem;
          width: 29rem;
        }
      }
    }
    .cards_container {
      display: none;
    }
  }
}
