.carousel_two {
  width: 100%;
  background-color: white;
  padding: 4rem 0;

  @include projects_a {
    &_container {
      padding: 0 2rem;
      width: 100%;
    }
  }

  &_container {
    margin: auto;
    max-width: 1080px;

    @include brain_carousel;

    .ant-card {
      //
      @include tablet {
        &-body {
          padding: 8rem 1rem !important;
        }
      }
      &-body {
        padding: 4rem;
        //
        @include tablet {
          .carousel_container {
            flex-direction: column-reverse;
            gap: 2rem;
          }
        }
        .carousel_container {
          //
          @include tablet {
            .carousel_container_left {
              align-items: center;
              text-align: center;
            }
          }
          .carousel_container_left,
          .carousel_container_right {
            flex: 1;
          }
          .carousel_container_left {
            //
            h2 {
              color: $text-black;
            }
            p {
              color: $text-gray;

              span {
                color: $text-orange;
              }
            }
          }

          .carousel_container_right {
            //
            @include projects_a {
              img {
                height: 28rem !important;
              }
            }
            @include mobile {
              img {
                height: 22rem !important;
              }
            }
            img {
              height: 34rem;
              width: auto;
            }
          }
        }
      }
    }
  }
}
