.modal_quiz {
  top: 2rem;
  width: calc(100vw - 4rem) !important;

  .ant-modal-content {
    border-radius: 8px !important;

    .ant-modal-close,
    .ant-modal-header,
    .ant-modal-footer {
      display: none !important;
    }
    .ant-modal-body {
      overflow: hidden;
      padding: 4rem;
      height: calc(100vh - 4rem);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ant-modal-wrap {
  overflow: hidden;
}
.modal_loading {
  height: 100%;

  .ant-spin-dot-item {
    background-color: $primary_color !important;
  }

  p {
    color: $primary_color;
  }
}
